.about-main {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	height: fit-content;
	position: relative;
	justify-content: space-around;

	@media (max-width: 1320px) {
		flex-direction: column-reverse;
		align-items: center;
	}


	.about-text {
		display: flex;
	  flex-direction: column;
		padding-top: 8rem;
		color: var(--color-white);
		font-family: var(--font-rokkitt);
		max-width: 1531px;

		h1 {
			display: flex;
			justify-content: flex-end;
			width: 1400px;
			font-size: 46px;

			@media (max-width: 800px) {
				font-size: 32px;
				width: 400px;
			}

			@media (max-width: 500px) and (min-width: 0px){
				font-size: 24px;
			}

		}

		.julie-text {
			display: flex;
			flex-direction: row;
		}

		.txt-j {
			display: flex;
			flex-direction: column;
			max-width: 937px;
		}

		.lewis-text {
			display: flex;
			flex-direction: row;
		}

		.txt {
			display: flex;
			flex-direction: column;
			max-width: 937px;
		}


		.julie {
			max-width: 535px;
			min-width: 250px;
		}

		.lewis {
			max-width: 535px;
			min-width: 250px;
		}

		.about-contact-button button {


		.about-contact-button:hover {
			cursor: pointer;
			color: var(--color-black);
		}
	}
	}
}


