.about-main {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	justify-content: space-around;
	padding-top: 150px;
	padding-left: 200px;
	padding-right: 200px;

	.placeholder {

		.placeholder-image {
			width: 535px;
			height: 700px;
		}
	}

	.about-text {
		display: flex;
	  flex-direction: column;
		color: var(--color-white);
		font-family: var(--font-rokkitt);

		.about-title {
			width: 606px;
			font-size: 46px;
		}

		.about-content {
			height: 423px;
			width: 695px;
			font-size: 32px;
		}

		.about-contact-button:hover {
			cursor: pointer;
			color: var(--color-black);
		}

	}
}


/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {

}*/
