.about-main {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 1000px;
	justify-content: space-around;
	padding: 150px;

	@media (max-width: 960px) and (min-width: 500px) {
		display: flex;
		flex-direction: column;
	}

	.placeholder {

		.placeholder-image {
			width: 100%;
			height: 700px;

			@media (max-width: 960px) {
				display: flex;
				flex-direction: column;
				height: 500px;
			}

			@media (max-width: 1200px) and (min-width: 600px) {
				width: 400px;
				height: 500px;
			}

			@media (max-width: 600px) {
				width: 300px;
				height: 400px;
			}


		}
	}

	.about-text {
		display: flex;
	  flex-direction: column;
		color: var(--color-white);
		font-family: var(--font-rokkitt);

		.about-title {
			width: 606px;
			font-size: 46px;

			@media (max-width: 120px) {
				font-size: var(--font-size-sm);
			}

			@media (max-width: 960px) {
				font-size: var(--font-size-sm);
			}
		}

		.about-content {
			height: 423px;
			width: 695px;
			font-size: 32px;

			@media (max-width: 1200px) {
				font-size: var(--font-size-sm);
				width: 500px;
			}

			@media (max-width: 600px) {
				font-size: 20px;
				width: 280px;
			}
		}

		.about-contact-button {

			@media (max-width: 1200px) {
				display: none;
			}

		.about-contact-button:hover {
			cursor: pointer;
			color: var(--color-black);
		}
	}
	}
}


