.about-main {
	display: flex;
	flex-direction: row;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 100vh;
	height: fit-content;
	position: relative;
	justify-content: space-around;

	@media (max-width: 1320px) {
		flex-direction: column-reverse;
		align-items: center;
	}


	.about-text {
		display: flex;
	  flex-direction: column;
		padding-top: 8rem;
		color: var(--color-white);
		font-family: var(--font-rokkitt);
		max-width: 1531px;

		.about-title {
			width: 900px;
			font-size: 46px;

			@media (max-width: 800px) {
				font-size: 32px;
				width: 400px;
			}

			@media (max-width: 500px) and (min-width: 0px){
				font-size: 24px;
			}
		}

		.julie-paragraphs {
			display: flex;
			flex-direction: row;
			font-size: 28px;

			.julie {
				padding-right: 2rem;
			}

			.p1,.p2,.p3{
				width: 937px;
			}

			@media (max-width: 1570px) and (min-width: 500px) {
				display: flex;
				flex-direction: column;
				font-size: 24px;
				text-align: justify;

			}

			@media (max-width: 500px) {
				font-size: 18px;
			}
		}

		.middle {
			display: flex;
			flex-direction: row;
			font-size: 28px;

			@media (max-width: 1570px) and (min-width: 500px) {
				font-size: 24px;
				text-align: justify;
			}

			@media (max-width: 500px) {
				font-size: 18px;
			}
		}

		.lewis-paragraphs {
			display: flex;
			flex-direction: row;
			font-size: 28px;

			.p5, .p6 {
				max-width: 994px;
			}

			@media (max-width: 1570px) and (min-width: 500px) {
				font-size: 24px;
				text-align: justify;
			}

			@media (max-width: 500px) {
				font-size: 18px;
			}
		}

		.about-contact-button button {


		.about-contact-button:hover {
			cursor: pointer;
			color: var(--color-black);
		}
	}
	}
}


