.contact-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 1085px;
	padding-top: 150px;
	gap: 100px;

	.contact-body {
		height: 700px;
		width: 614px;
	}


	.contact-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.get-in-touch {
			font-size: var(--font-size-3xl);
			font-family: var(--font-plus-jakarta-sans);
		}

		.website {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);
		}

		.mobile {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);
		}

		.email {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);
		}
	}

	.social-media-icons {
		display: flex;
		flex-direction: row;
		gap: 50px;
		padding-top: 60px;
	}


	.jlp-oven-1 {
		width: 721px;
	}
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
