.contact-main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	min-height: 1085px;
	height: fit-content;
	padding-top: 150px;
	padding-left: 2em;
	padding-right: 2em;

	@media only screen and (max-width: 800px) {

	}


	.contact-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media only screen and (max-width: 600px) {

		}

		.get-in-touch {
			font-size: var(--font-size-3xl);
			font-family: var(--font-plus-jakarta-sans);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-xl);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-sm);
			}

		}

		.website {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-xs);
			}
		}

		.mobile {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-xs);
			}
		}

		.email {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-xs);
			}
		}

	}

	.social-media-icons {
		display: flex;
		flex-direction: row;
		gap: 50px;
		padding-top: 60px;

		@media only screen and (max-width: 1200px) {
			gap: 30px;
		}
	}


	.jlp-oven-1 {

		width: 621px;

		@media only screen and (max-width: 1200px) {
			width: 440px;
		}

		@media only screen and (max-width: 1000px) {
			width: 200px;
		}

		@media only screen and (max-width: 600px) {
			width: 100px;
		}
	}
}


