.gallery1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1062px;
}
.justlovepizzacouk2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.blank-line {
  margin: 0;
}
.justlovepizzacouk-txt {
  line-break: anywhere;
  width: 100%;
}
.b {
  position: absolute;
  height: 9.05%;
  width: 67.53%;
  left: 0.3%;
  display: flex;
  align-items: center;
}
.justlovepizzacouk1 {
  width: 67.53%;
  top: 27.37%;
  left: 0.3%;
}
.justlovepizzacouk1,
.justlovepizzainfogmailcom1 {
  position: absolute;
  height: 9.05%;
  display: flex;
  align-items: center;
}
.b {
  top: 60.85%;
}
.justlovepizzainfogmailcom1 {
  width: 100%;
  top: 44.17%;
  left: 0;
}
.get-in-touch {
  position: absolute;
  height: 7.99%;
  width: 56.61%;
  top: 0;
  left: 0.3%;
  font-size: var(--font-size-3xl);
  line-height: 52.8px;
  display: inline-block;
  font-family: var(--font-plus-jakarta-sans);
}
.facebook-icon,
.instagram-icon,
.twitter-icon {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.instagram-icon {
  height: 6.52%;
  width: 5.45%;
  top: 93.48%;
  right: 68.74%;
  bottom: 0;
  left: 25.81%;
  border-radius: var(--br-md);
}
.twitter-icon {
  height: 6.48%;
  width: 5.74%;
  top: 93.46%;
  right: 81.38%;
  bottom: 0.06%;
  left: 12.89%;
}
.facebook-icon {
  height: 6.14%;
  width: 5.45%;
  top: 93.16%;
  right: 94.25%;
  bottom: 0.7%;
  left: 0.3%;
}
.contactmain,
.jlp-oven-1 {
  position: absolute;
  height: 57.77%;
  width: 36.32%;
  top: 16.2%;
  right: 47.9%;
  bottom: 26.03%;
  left: 15.78%;
}
.jlp-oven-1 {
  height: 67.61%;
  width: 37.55%;
  top: 10.55%;
  right: 10.57%;
  bottom: 21.85%;
  left: 51.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.contact {
  position: absolute;
  top: 4250px;
  left: 0;
  width: 1920px;
  height: 1062px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-ruda);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
