.footer {
	display: flex;
	flex-direction: column;
	height: 397px;
	background-color: var(--color-black);

	.footer-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 45px 50px;

		@media (max-width: 960px) and (min-width: 0px) {
			align-self: center;
			justify-self: center;
	}

		.footer-logo {
			width: 400px;

			@media (max-width: 960px) and (min-width: 0px) {
				width: 200px;
		}

			.footer-logo-img {
				width: 230px;
				cursor: pointer;

				@media (max-width: 960px) and (min-width: 0px) {
					width: 100%;
				}
			}

		}

		.footer-nav {
			display: flex;
			flex-direction: row;
			gap: 60px;
			font-size: var(--font-size-sm);
			font-family: var(--font-ruda);
			color: var(--color-white);

			.footer-nav-item:hover {
				cursor: pointer;
				text-decoration: underline;
			}

			@media (max-width: 1200px) and (min-width: 0px) {
				display: none;
		}
		}

		.footer-contact {
			display: flex;
			justify-content: flex-end;
			width: 400px;

			.footer-contact-button:hover {
				color: var(--color-black);
			}

			@media (max-width: 960px) and (min-width: 0px) {
				display: none;
		}
		}
	}


	.copyright {
		display: flex;
		flex-direction: column;
		align-self: center;
		justify-self: center;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;
		font-family: var(--font-montserrat);
		font-size: var(--font-size-2xs);
		color: var(--color-white)
	}
}




