.icon {
  top: 70.69%;
  right: 0;
  bottom: 0;
  left: 81.26%;
}
.icon,
.icon1,
.icon2,
.icon3,
.icon4 {
  position: absolute;
  height: 29.31%;
  width: 18.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon1 {
  top: 64.24%;
  right: 20.31%;
  bottom: 6.45%;
  left: 60.94%;
}
.icon2 {
  top: 70.69%;
  right: 40.63%;
  bottom: 0;
  left: 40.63%;
}
.icon3 {
  top: 64.24%;
  right: 60.94%;
  bottom: 6.45%;
  left: 20.31%;
}
.icon4 {
  top: 70.69%;
  right: 81.26%;
  bottom: 0;
  left: 0;
}
.icon5 {
  top: 38.92%;
  right: 0;
  bottom: 31.77%;
  left: 81.26%;
}
.icon10,
.icon11,
.icon12,
.icon13,
.icon14,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  position: absolute;
  height: 29.31%;
  width: 18.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.icon6 {
  top: 32%;
  right: 20.31%;
  bottom: 38.69%;
  left: 60.94%;
  opacity: 0.7;
}
.icon7 {
  top: 38.92%;
  right: 40.63%;
  bottom: 31.77%;
  left: 40.63%;
}
.icon8 {
  top: 32%;
  right: 60.94%;
  bottom: 38.69%;
  left: 20.31%;
}
.icon9 {
  top: 38.92%;
  right: 81.26%;
  bottom: 31.77%;
  left: 0;
}
.icon10 {
  top: 7.03%;
  right: 0;
  bottom: 63.66%;
  left: 81.26%;
}
.icon11 {
  top: 0;
  right: 20.31%;
  bottom: 70.69%;
  left: 60.94%;
}
.icon12 {
  top: 7.03%;
  right: 40.63%;
  bottom: 63.66%;
  left: 40.63%;
}
.icon13 {
  top: 0.12%;
  right: 60.94%;
  bottom: 70.57%;
  left: 20.31%;
}
.icon14 {
  top: 7.03%;
  right: 81.26%;
  bottom: 63.66%;
  left: 0;
}
.instagram {
  position: absolute;
  height: 69.54%;
  width: 68.44%;
  top: 22.98%;
  right: 15.78%;
  bottom: 7.48%;
  left: 15.78%;
}
.gallery-bg,
.pizzaicon {
  position: absolute;
  top: 0;
  right: 0;
}
.gallery-bg {
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 56.77%,
    #fff 90.1%
  );
}
.pizzaicon {
  height: 63.27%;
  width: 5.13%;
  bottom: 36.73%;
  left: 94.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.justlovepizza {
  text-decoration: underline;
}
.check-us-out-container {
  position: absolute;
  height: 100%;
  width: 94.87%;
  top: 0;
  left: 0;
  display: inline-block;
}
.gallery2,
.instagram-link {
  position: absolute;
}
.instagram-link {
  height: 4.01%;
  width: 31.46%;
  top: 10.26%;
  right: 34.27%;
  bottom: 85.73%;
  left: 34.27%;
}
.gallery2 {
  height: 18.61%;
  width: 100%;
  top: 55.86%;
  right: 0;
  bottom: 25.53%;
  left: 0;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-rokkitt);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
