.gallery-main {
	height: 1085px;

.instagram-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 70px;

	.gallery-title {
		font-size: var(--font-size-base);
		font-family: var(--font-rokkitt);
	}

	.pizzaicon {
		width: 31px;
		height: 32px;
	}
}

.instagram-gallery {
	display: flex;
	flex-direction: row;
	gap: 15px;
	justify-content: center;

.instagram-first-column {
	display: flex;
	flex-direction: column;
	height: 780px;
	gap: 15px;
	padding-top: 40px;

	.icon {
		width: 240px;
		height: 240px;
	}

	.icon1 {
		width: 240px;
		height: 240px;
	}

	.icon2 {
		width: 240px;
		height: 240px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255)),url("../../public/3@2x.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.instagram-second-column {
	display: flex;
	flex-direction: column;
	height: 780px;
	gap: 15px;

	.icon3 {
		width: 240px;
		height: 240px;
	}

	.icon4 {
		width: 240px;
		height: 240px;
	}

	.icon5 {
		width: 240px;
		height: 240px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255)),url("../../public/3@2x.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.instagram-third-column {
	display: flex;
	flex-direction: column;
	height: 780px;
	gap: 15px;
	padding-top: 40px;

	.icon6 {
		width: 240px;
		height: 240px;
	}

	.icon7 {
		width: 240px;
		height: 240px;
	}

	.icon8 {
		width: 240px;
		height: 240px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255)),url("../../public/3@2x.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.instagram-fourth-column {
	display: flex;
	flex-direction: column;
	height: 780px;
	gap: 15px;

	.icon9 {
		width: 240px;
		height: 240px;
	}

	.icon10 {
		width: 240px;
		height: 240px;
	}

	.icon11 {
		width: 240px;
		height: 240px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255)),url("../../public/3@2x.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.instagram-fifth-column {
	display: flex;
	flex-direction: column;
	height: 780px;
	gap: 15px;
	padding-top: 40px;

	.icon12 {
		width: 240px;
		height: 240px;
	}

	.icon13 {
		width: 240px;
		height: 240px;
	}

	.icon14 {
		width: 240px;
		height: 240px;
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.288), rgb(255, 255, 255)),url("../../public/3@2x.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}
}
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

