.joshuabartell6vvibtvl90aunspla-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.landingrectangle-2 {
  background: linear-gradient(180deg, transparent, #000);
}
.landingrectangle-2,
.services-bg,
.veil {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.veil {
  background-color: var(--color-gray);
}
.engagement-parties1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.engagement-parties {
  position: absolute;
  height: 27.79%;
  width: 91.69%;
  top: 35.94%;
  left: 4.12%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bridal-icon {
  position: absolute;
}
.engagement-parties-card {
  position: absolute;
  height: 46.88%;
  width: 21.18%;
  top: 52.8%;
  right: 0;
  bottom: 0.32%;
  left: 78.82%;
}
.bridal-icon {
  height: 99.99%;
  width: 99.58%;
  top: 0;
  right: 0.16%;
  bottom: 0.01%;
  left: 0.26%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.veil1 {
  position: absolute;
  height: 99.91%;
  width: 100%;
  top: 0.09%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray);
}
.bridal-showers {
  position: absolute;
  height: 22.65%;
  width: 84.76%;
  top: 35.8%;
  left: 7.61%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.bridal-shower-card,
.popup-icon {
  position: absolute;
  height: 46.92%;
  width: 21.25%;
  top: 52.76%;
  right: 26.27%;
  bottom: 0.32%;
  left: 52.48%;
}
.popup-icon {
  height: 100%;
  width: 99.68%;
  top: 0;
  right: 0.32%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.popup-events {
  position: absolute;
  height: 23.09%;
  width: 50.13%;
  top: 36.4%;
  left: 24.64%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.popup-events-card {
  position: absolute;
  height: 47.2%;
  width: 21.25%;
  top: 52.8%;
  right: 52.41%;
  bottom: 0;
  left: 26.34%;
}
.birthday-icon,
.veil3 {
  position: absolute;
  height: 99.89%;
  left: 0;
}
.birthday-icon {
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.veil3 {
  width: 99.96%;
  top: 0.11%;
  right: 0.04%;
  bottom: 0;
  background-color: var(--color-gray);
}
.birthdays {
  position: absolute;
  height: 13.71%;
  width: 81.29%;
  top: 42.98%;
  left: 15.9%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.birthdays-card {
  position: absolute;
  height: 47.25%;
  width: 21.19%;
  top: 52.75%;
  right: 78.81%;
  bottom: 0;
  left: 0;
  text-align: left;
}
.family-icon {
  position: absolute;
  height: 99.92%;
  width: 99.96%;
  top: 0;
  right: 0.04%;
  bottom: 0.08%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.family-events {
  position: absolute;
  height: 50.28%;
  width: 84.08%;
  top: 40.76%;
  left: 8.13%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.family-events-card {
  position: absolute;
  height: 47.2%;
  width: 21.11%;
  top: 0;
  right: 0.07%;
  bottom: 52.8%;
  left: 78.82%;
}
.artisan-markets {
  position: absolute;
  height: 29.56%;
  width: 69.97%;
  top: 37.16%;
  left: 15.18%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.artisan-market-card,
.corporate-icon {
  position: absolute;
  height: 47.2%;
  width: 21.11%;
  top: 0;
  right: 26.41%;
  bottom: 52.8%;
  left: 52.48%;
}
.corporate-icon {
  height: 100%;
  width: 99.67%;
  right: 0.33%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.corporate-events {
  position: absolute;
  height: 52.51%;
  width: 86.46%;
  top: 37.41%;
  left: 5.6%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.corporate-events-card {
  position: absolute;
  height: 47.2%;
  width: 21.11%;
  top: 0;
  right: 52.48%;
  bottom: 52.8%;
  left: 26.41%;
}
.wedding-card {
  position: absolute;
  height: 17.29%;
  width: 71.05%;
  top: 42.03%;
  left: 16.17%;
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.weddings-card {
  position: absolute;
  height: 47.2%;
  width: 21.11%;
  top: 0;
  right: 78.89%;
  bottom: 52.8%;
  left: 0;
  text-align: left;
}
.service-cards {
  position: absolute;
  height: 57.6%;
  width: 75.73%;
  top: 21.19%;
  right: 12.14%;
  bottom: 21.21%;
  left: 12.14%;
}
.our-catering-services {
  position: absolute;
  height: 5.07%;
  width: 30.95%;
  top: 8.1%;
  left: 34.53%;
  font-size: var(--font-size-2xl);
  font-weight: 500;
  display: inline-block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.services2 {
  position: absolute;
  height: 18.61%;
  width: 100%;
  top: 37.22%;
  right: 0;
  bottom: 44.17%;
  left: 0;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-rokkitt);
}
