.services-main {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	font-family: var(--font-rokkitt);
	color: var(--color-white);
	justify-content: space-evenly;

	.our-catering-services {
		font-size: var(--font-size-2xl);
		align-self: center;
		justify-self: center;
	}

	.service-cards-top {
		display: flex;
	  flex-direction: row;
		align-self: center;
		justify-content: space-between;
		width: 1454px;

		.engagement-parties-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/engagement@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.engagement-parties {
				font-size: var(--font-size-xl);
			}
		}

		.bridal-shower-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/bridal@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.bridal-shower {
				font-size: var(--font-size-xl);
			}
		}

		.popup-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/popup@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.popup-events {
				font-size: var(--font-size-xl);
			}
		}

		.birthdays-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/birthday@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.birthdays {
				font-size: var(--font-size-xl);
			}
		}
	}

	.service-cards-bottom {
		display: flex;
	  flex-direction: row;
		align-self: center;
		justify-content: space-between;
		width: 1454px;

		.artisan-market-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/artisan@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.artisan-markets {
				font-size: var(--font-size-xl);
			}
		}

		.corporate-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/corporate@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.corporate-events {
				font-size: var(--font-size-xl);
			}
		}

		.weddings-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/weddings@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.weddings {
				font-size: var(--font-size-xl);
			}
		}

		.family-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/family@2x.png");
			background-repeat: no-repeat;
			background-position: center;

			.family-events {
				font-size: var(--font-size-xl);
			}
		}
	}
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
