.services-main {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)),url("../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: fit-content;
	min-height: 1085px;
	font-family: var(--font-rokkitt);
	color: var(--color-white);
	gap: 3em;
	padding: 2em;


	.our-catering-services {
		font-size: var(--font-size-xl);
		align-self: center;
		justify-self: center;
		text-align: center;
	}

	.service-cards {
		display: flex;
	  flex-direction: row;
		justify-content: center;
		gap: 2em;
		align-self: center;
		flex-wrap: wrap;
		max-width: 1454px;
		min-height: 700px;

		.engagement-parties-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/engagement@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.engagement-parties {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
			}
		}

		.bridal-shower-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/bridal@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.bridal-shower {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.popup-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/popup@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.popup-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.birthdays-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/birthday@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.birthdays {
				padding-top: 120px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.artisan-market-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/artisan@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.artisan-markets {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.corporate-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/corporate@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.corporate-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.weddings-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/weddings@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.weddings {
				padding-top: 120px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}

		.family-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.925)),url("../../public/family@2x.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;

			.family-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
			}
		}
	}
}

