.contact-main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 1085px;
	padding-top: 150px;
	max-width: 1454px;
	width: 100%;
	margin: auto;

	@media only screen and (max-width: 800px) {
		background-position: center;
		background: url("../../../public/jlp-oven-1@2x.png") 0%;
		background-size: 1000px;
		background-repeat: no-repeat;
	}


	.contact-info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 4rem;

		@media only screen and (max-width: 600px) {
			margin-top: 9rem;
		}

		.get-in-touch {
			font-size: var(--font-size-3xl);
			font-family: var(--font-plus-jakarta-sans);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-xl);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-lg);
			}

		}

		.website {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 450px) {
				font-size: var(--font-size-xs);
			}
		}

		.mobile {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 450px) {
				font-size: var(--font-size-xs);
			}
		}

		.email {
			font-size: var(--font-size-lg);
			font-family: var(--font-ruda);

			@media only screen and (max-width: 800px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 600px) {
				font-size: var(--font-size-sm);
			}

			@media only screen and (max-width: 450px) {
				font-size: var(--font-size-xs);
			}
		}
	}

	.social-media-icons {
		display: flex;
		flex-direction: row;
		gap: 50px;
		padding-top: 40px;
		margin-left: 4rem;
		font-size: var(--font-size-lg);
		font-family: var(--font-ruda);

		@media only screen and (max-width: 1200px) {
			gap: 30px;
		}

		.facebook-icon {
			@media only screen and (max-width: 1200px) {
					width: 30px;
				}
		}

		.twitter-icon {
			@media only screen and (max-width: 1200px) {
				width: 30px;
			}
		}

		.instagram-icon {
			@media only screen and (max-width: 1200px) {
				width: 30px;
			}
		}
	}


	.jlp-oven-1 {
		width: 721px;

		@media (max-width: 800px) {
			display: none;
		}
	}

	a, a:visited {
		color: var(--color-black);
	}

	a:hover, a:active {
		color: var(--color-primary);
	}

	a img, a:visited img {
		filter: invert(0%) sepia(5%) saturate(7482%) hue-rotate(273deg) brightness(98%) contrast(105%);
	}

	a:hover img, a:active img {
		filter: invert(40%) sepia(16%) saturate(6186%) hue-rotate(348deg) brightness(96%) contrast(99%);
	}
}
