.gallery-main {
	height: fit-content;
	padding-top: 2rem;

.instagram-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px;

	.gallery-title {
		font-size: var(--font-size-base);
		font-family: var(--font-rokkitt);
	}

	.pizzaicon {
		width: 31px;
		height: 32px;
	}
}

.instagram-gallery {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;

.instagram-first-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 40px;


	.icon {
		width: 250px;
		height: 250px;

		@media (max-width: 1350px) {
				width: 170px;
				height: 170px;
			}
	}

	.icon1 {
		width: 250px;
			height: 250px;

			@media (max-width: 1350px) {
				width: 170px;
				height: 170px;
			}
	}

}

.instagram-second-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.icon3 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}

	}

	.icon4 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}
	}

	}
}

.instagram-third-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 40px;

	.icon6 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}
	}

	.icon7 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}
	}
}

.instagram-fourth-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	.icon9 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}
	}

	.icon10 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}
	}

}

.instagram-fifth-column {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	padding-top: 40px;

	@media (max-width: 500px) {
			display: flex;
			flex-direction: row;
			padding: 0px;
		}

	.icon12 {
		width: 250px;
			height: 250px;

			@media (max-width: 1350px) {
					width: 170px;
					height: 170px;
				}
	}

	.icon13 {
		width: 250px;
			height: 250px;

				@media (max-width: 1350px) {
						width: 170px;
						height: 170px;
					}

	}
}
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

