.gallery-main {
	min-height: 1080px;
	padding-top: 2rem;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.8)), url("../../../public/wood-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

.instagram-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px;
	color: #fff;

	.gallery-title {
		font-size: var(--font-size-base);
		font-family: var(--font-rokkitt);

		.justlovepizza {
			color: #fff;
		}

		@media (max-width: 410px) {
			font-size: 16px;
		}
	}

	.pizzaicon {
		width: 31px;
		height: 32px;
	}
}

.instagram-gallery {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 4rem;

	a:hover {
		opacity: 90%;
	}

.instagram-first-column {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1400px;
	gap: 2rem;
	padding-top: 40px;

	@media (max-width: 1000px) {
		display: flex;
		flex-direction: column;
	}

	.icon {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}
	}


	.icon1 {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}


	.icon3 {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}

	.icon4 {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}


	.icon6 {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}
}

.instagram-second-column {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1400px;
	gap: 2rem;
	padding-top: 0rem;

	@media (max-width: 1000px) {
		display: flex;
		flex-direction: column;
	}

	.icon7 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}

	.icon9 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}

	.icon10 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}

	.icon12 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}
	}

	.icon13 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}

	}
}
}
	a, a:visited {
		color: var(--color-white);
	}

	a:hover, a:active {
		color: var(--color-primary);
	}
}
