.gallery-main {
	height: fit-content;
	padding-top: 2rem;

.instagram-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px;

	.gallery-title {
		font-size: var(--font-size-base);
		font-family: var(--font-rokkitt);
	}

	.pizzaicon {
		width: 31px;
		height: 32px;
	}
}

.instagram-gallery {
	display: flex;
	flex-direction: row;
	gap: 2em;
	justify-content: center;
	flex-wrap: wrap;

.instagram-first-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 40px;


	.icon {
		width: 300px;
		height: 300px;

		@media (max-width: 1300px) {
				width: 150px;
				height: 150px;
			}
	}

	.icon1 {
		width: 300px;
			height: 300px;

			@media (max-width: 1300px) {
				width: 150px;
				height: 150px;
			}
	}

}

.instagram-second-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.icon3 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}

	}

	.icon4 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}

	}
}

.instagram-third-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 40px;

	.icon6 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}

	.icon7 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}
}

.instagram-fourth-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;

	.icon9 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}

	.icon10 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}

}

.instagram-fifth-column {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-top: 40px;

	.icon12 {
	width: 300px;
		height: 300px;

			@media (max-width: 1300px) {
					width: 150px;
					height: 150px;
				}
	}

	.icon13 {
		width: 300px;
			height: 300px;

				@media (max-width: 1300px) {
						width: 150px;
						height: 150px;
					}
	}
}
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

