.gallery-main {
	height: fit-content;
	padding-top: 2rem;

.instagram-link {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px;

	.gallery-title {
		font-size: var(--font-size-base);
		font-family: var(--font-rokkitt);

		@media (max-width: 410px) {
				font-size: 16px;
			}
	}

	.pizzaicon {
		width: 31px;
		height: 32px;
	}
}

.instagram-gallery {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;

	:hover {
		opacity: 90%;
	}

.instagram-first-column {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1400px;
	gap: 2rem;
	padding-top: 40px;

	@media (max-width: 1000px) {
			display: flex;
			flex-direction: column;
		}

	.icon {
		width: 250px;
		height: 250px;

		@media (max-width: 1380px) {
				width: 170px;
				height: 170px;
			}

		@media (max-width: 410px) {
			width: 150px;
			height: 150px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}
	}


	.icon1 {
		width: 250px;
			height: 250px;

			@media (max-width: 1380px) {
				width: 170px;
				height: 170px;
			}
				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}

		}


	.icon3 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}

	}

	.icon4 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}
	}


	.icon6 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}
	}
}

.instagram-second-column {

		display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 1400px;
			gap: 2rem;
			padding-top: 0rem;

	@media (max-width: 1000px) {
		display: flex;
		flex-direction: column;
	}

	.icon7 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}

	}


	.icon9 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}
	}

	.icon10 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}
	}

	.icon12 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}
	}

	.icon13 {
		width: 250px;
			height: 250px;

		@media (max-width: 1380px) {
			width: 170px;
			height: 170px;
		}

		@media (min-width: 1000px) {
			padding-top: 20px;
		}

				@media (max-width: 410px) {
					width: 150px;
					height: 150px;
				}

	}
}

}

}







/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

