.services-section {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.158), rgba(0, 0, 0, 0.925)), url("../../images/wood-bg.webp");
}

.services-main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		min-height: 1085px;
		max-width: 1454px;
		width: 100%;
		margin: auto;

		@media only screen and (max-width: 800px) {
			background-position: center;
			background: url("../../images/jlp-oven-1@2x.webp") 0%;
			background-size: 1000px;
			background-repeat: no-repeat;
		}


		.services-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: 4rem;
			color: #E06F27;
			padding-top: 40px;
			cursor: pointer;



			@media only screen and (max-width: 600px) {
				margin-top: 9rem;
			}

			.we-do {
				font-size: var(--font-size-3xl);
				font-family: var(--font-plus-jakarta-sans);

				@media only screen and (max-width: 800px) {
					font-size: var(--font-size-xl);
				}

				@media only screen and (max-width: 600px) {
					font-size: var(--font-size-lg);
				}

			}

			.weddings {
				font-size: var(--font-size-lg);
				font-family: var(--font-ruda);
				color: var(--color-white);
				cursor: pointer;


				@media only screen and (max-width: 800px) {
					font-size: var(--font-size-sm);
				}

				@media only screen and (max-width: 600px) {
					font-size: var(--font-size-sm);
				}

				@media only screen and (max-width: 450px) {
					font-size: var(--font-size-xs);
				}
			}

						:hover {
							color: #E06F27;
						}

		}

		.return-home {
			margin-left: 4rem;
			margin-top: 2rem;

			:hover {
				color: #000;
			}
		}


		.contact-image {
			padding-top: 140px;
			cursor: pointer;

			@media (max-width: 800px) {
					display: none;
				}


			:hover {
				animation: myAnim 2s ease 0s normal forwards;
			}
		}

				@keyframes myAnim {

					0%,
					100% {
						transform: translateX(0%);
						transform-origin: 50% 50%;
					}

					15% {
						transform: translateX(-30px) rotate(-6deg);
					}

					30% {
						transform: translateX(15px) rotate(6deg);
					}

					45% {
						transform: translateX(-15px) rotate(-3.6deg);
					}

					60% {
						transform: translateX(9px) rotate(2.4deg);
					}

					75% {
						transform: translateX(-6px) rotate(-1.2deg);
					}
				}



/*	.our-catering-services {
		font-size: var(--font-size-xl);
		align-self: center;
		justify-self: center;
		text-align: center;
	}

	.service-cards {
		display: flex;
	  flex-direction: row;
		justify-content: center;
		gap: 1.5em;
		align-self: center;
		flex-wrap: wrap;
		max-width: 1454px;
		min-height: 700px;

		:hover {
				opacity: 90%;
			}

		.engagement-parties-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/obHOlpQ.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

							@media (max-width: 800px) {
									width: 150px;
									height: 150px;
								}
										@media (max-width: 410px) {
											width: 130px;
											height: 130px;
										}


			.engagement-parties {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 60px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 50px;
										}
			}

		}

		.bridal-shower-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/DHrBdAs.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.bridal-shower {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 60px;
										}
			}
		}

		.popup-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/7x2D0f1.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.popup-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 60px;
										}
			}
		}

		.birthdays-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/ljx33rj.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.birthdays {
				padding-top: 120px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 60px;
										}
			}
		}

		.artisan-market-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/UiXJ7EH.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.artisan-markets {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 50px;
										}
			}
		}

		.corporate-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/Z8XVinZ.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.corporate-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);
				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 50px;
										}
			}
		}

		.weddings-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/FiprzJY.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.weddings {
				padding-top: 120px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-xl);

				@media (max-width: 800px) {
						font-size: 15px;
						padding-top: 70px;
					}

										@media (max-width: 410px) {
											font-size: 15px;
											padding-top: 60px;
										}
			}
		}

		.family-events-card {
			width: 307px;
			height: 307px;
			background: linear-gradient(to top, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.3)),url("https://i.imgur.com/WI7rJ0N.png");
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 10px;
			border: 3px solid #555;
			cursor: pointer;
			object-fit: contain;
			object-position: center;

			@media (max-width: 800px) {
					width: 150px;
					height: 150px;
				}

								@media (max-width: 410px) {
									width: 130px;
									height: 130px;
								}

			.family-events {
				padding-top: 100px;
				align-self: center;
				justify-self: center;
				text-align: center;
				font-size: var(--font-size-2xl);

				@media (max-width: 800px) {
					font-size: 15px;
					padding-top: 70px;
				}

								@media (max-width: 410px) {
									font-size: 15px;
									padding-top: 60px;
								}
			}
		}
	}*/
}




